<section class="flex min-h-screen w-full flex-col items-center px-6 py-14">
  <div
    class="min-h-[min] w-[500px] bg-gray-800 rounded-2xl py-10 px-4 mx-auto my-20 flex flex-col items-center"
  >
    <p class="text-2xl text-center font-bold py-5">
      AssignFlow {{ isStudent ? "Student" : "Lecturer" }} Registration
    </p>

    @if (isStudent) {
    <!-- Student from -->
    <form
      class="flex flex-col bg-transparent gap-5"
      [formGroup]="studentRegistrationForm"
      (ngSubmit)="onSubmit('student')"
    >
      <!-- College/semester -->
      <div class="flex gap-4">
        <fieldset class="fieldset w-full">
          <legend class="fieldset-legend">Select is your school</legend>

          <select class="select w-full" formControlName="school">
            <option disabled selected>Pick you school</option>
            <option>CES</option>
            <option>EEE</option>
            <option>MBA</option>
          </select>
        </fieldset>
        <fieldset class="fieldset w-full">
          <legend class="fieldset-legend w-full">Select College</legend>

          <select class="select" formControlName="college">
            <option disabled selected>Pick a college</option>
            <option>Engineering</option>
            <option>Business</option>
            <option>Arts</option>
          </select>
        </fieldset>
      </div>
      <div class="flex gap-4">
        <fieldset class="fieldset w-full">
          <legend class="fieldset-legend">What year are you?</legend>
          <select class="select w-full" formControlName="year">
            <option disabled selected>Pick you year</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </fieldset>
        <fieldset class="fieldset w-full">
          <legend class="fieldset-legend">Select semester</legend>
          <select class="select w-full" formControlName="semester">
            <option disabled selected>Pick you semester</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </fieldset>
      </div>
      <!-- school -->
      <div class="flex gap-4">
        <fieldset class="fieldset w-full">
          <legend class="fieldset-legend">Registration Number</legend>

          <input
            class="input w-full"
            formControlName="regNumber"
            placeholder="Registration Number"
          />
        </fieldset>
        <fieldset class="fieldset w-full">
          <legend class="fieldset-legend">Gender?</legend>

          <select class="select w-full" formControlName="gender">
            <option disabled selected>Pick you gender</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </fieldset>
      </div>

      <!-- Names -->
      <div class="flex gap-4">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">First Name?</legend>
          <input
            class="input w-full"
            formControlName="fName"
            placeholder="First Name"
          />
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Last Name?</legend>
          <input
            class="input w-full"
            formControlName="lName"
            placeholder="Last Name"
          />
        </fieldset>
      </div>

      <!-- Contact -->
      <div class="flex gap-4">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Email</legend>
          <input
            class="input w-full"
            formControlName="email"
            placeholder="Email"
          />
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Phone Number</legend>
          <input
            class="input w-full"
            formControlName="phoneNumber"
            placeholder="Phone Number"
          />
        </fieldset>
      </div>

      <!-- cpwd/pwd -->
      <div class="flex gap-4">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Password</legend>
          <input
            class="input w-full"
            formControlName="password"
            placeholder="Password"
            type="password"
          />
        </fieldset>

        <fieldset class="fieldset">
          <legend class="fieldset-legend">Confirm Password</legend>
          <input
            class="input w-full"
            formControlName="confirmPassword"
            placeholder="Confirm Password"
            type="password"
          />
        </fieldset>
      </div>

      <button class="btn btn-info" type="submit">Register Student</button>
    </form>
    } @else {
    <!-- Lecturer form -->
    <form
      class="flex flex-col bg-transparent gap-5"
      [formGroup]="lecturerRegistrationForm"
      (ngSubmit)="onSubmit('lecturer')"
    >
      <!-- Names -->
      <div class="flex gap-4">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">First Name?</legend>
          <input
            class="input w-full"
            formControlName="fName"
            placeholder="First Name"
          />
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Last Name?</legend>
          <input
            class="input w-full"
            formControlName="lName"
            placeholder="Last Name"
          />
        </fieldset>
      </div>
      <!-- Contact -->
      <div class="flex gap-4">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Email</legend>
          <input
            class="input w-full"
            formControlName="email"
            placeholder="Email"
          />
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Phone Number</legend>
          <input
            class="input w-full"
            formControlName="phoneNumber"
            placeholder="Phone Number"
          />
        </fieldset>
      </div>

      <!-- cpwd/pwd -->
      <div class="flex gap-4">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Password</legend>
          <input
            class="input w-full"
            formControlName="password"
            placeholder="Password"
            type="password"
          />
        </fieldset>

        <fieldset class="fieldset">
          <legend class="fieldset-legend">Confirm Password</legend>
          <input
            class="input w-full"
            formControlName="confirmPassword"
            placeholder="Confirm Password"
            type="password"
          />
        </fieldset>
      </div>

      <!-- gender -->
      <div class="flex gap-4">
        <fieldset class="fieldset w-1/2">
          <legend class="fieldset-legend">Gender?</legend>

          <select class="select" formControlName="gender">
            <option disabled selected>Pick you gender</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </fieldset>
        <fieldset class="fieldset w-1/2"></fieldset>
      </div>
      <button class="btn btn-info" type="submit">Register Lecturer</button>
    </form>
    }
    <p
      class="link link-hover hover:link-info self-end text-sm py-5 px-3"
      (click)="toggleStudent()"
    >
      Not a {{ isStudent ? "student" : "lecturer" }}?
    </p>
  </div>
</section>
