<section class="py-4 flex flex-col gap-8">
  <div class="breadcrumbs max-w-xs text-lg md:text-xl">
    <ul>
      <li>Assignments</li>
    </ul>
  </div>

  <div class="flex flex-col gap-4">
    <button
      class="self-end w-[200px] bg-slate-800 rounded-md p-4 py-3 text-xs hover:cursor-pointer"
      [routerLink]="['/assignments/create']"
    >
      Create Assignment
    </button>
    <app-assign-flow-table
      [title]="'Submitted Assignments'"
      [headers]="['#', 'Name', 'Course', 'Status', 'File']"
      [data]="assignments"
      [actions]="[
        { label: 'view', callback: editUser },
        { label: 'download', callback: deleteUser }
      ]"
      [isViewAll]="false"
    />
  </div>
</section>
